In [1]:
import pandas as pd

In [2]:
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-11.parquet'
df = pd.read_parquet(url)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,7,2025-11-01 00:13:25,2025-11-01 00:13:25,1.0,1.68,1.0,N,43,186,1,14.90,0.00,0.5,1.50,0.00,1.0,22.15,2.5,0.00,0.75
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1.0,2.28,1.0,N,142,237,1,14.20,1.00,0.5,4.99,0.00,1.0,24.94,2.5,0.00,0.75
2,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0.0,2.70,1.0,N,163,238,1,15.60,4.25,0.5,4.27,0.00,1.0,25.62,2.5,0.00,0.75
3,2,2025-11-01 00:00:00,2025-11-01 01:01:03,3.0,12.87,1.0,N,138,261,1,66.70,6.00,0.5,0.00,6.94,1.0,86.14,2.5,1.75,0.75
4,1,2025-11-01 00:18:50,2025-11-01 00:49:32,0.0,8.40,1.0,N,138,37,2,39.40,7.75,0.5,0.00,0.00,1.0,48.65,0.0,1.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181439,2,2025-11-30 23:12:44,2025-11-30 23:43:26,NaN,10.62,NaN,None,68,169,0,33.16,0.00,0.5,0.00,6.94,1.0,44.85,NaN,NaN,0.75
4181440,1,2025-11-30 23:10:35,2025-11-30 23:28:24,NaN,6.50,NaN,None,48,116,0,22.17,0.00,0.5,0.00,0.00,1.0,26.92,NaN,NaN,0.75
4181441,2,2025-11-30 23:09:43,2025-11-30 23:36:08,NaN,8.10,NaN,None,145,152,0,-4.75,0.00,0.5,0.00,0.00,1.0,4.06,NaN,NaN,0.75
4181442,1,2025-11-30 23:29:41,2025-11-30 23:47:09,NaN,5.60,NaN,None,116,48,0,21.42,0.00,0.5,0.00,0.00,1.0,26.17,NaN,NaN,0.75
4181443,2,2025-11-30 23:59:06,2025-12-01 00:12:18,NaN,3.22,NaN,None,144,230,0,35.87,0.00,0.5,0.00,0.00,1.0,40.62,NaN,NaN,0.75

In [ ]:
df[df['trip_distance'] <=1]

In [ ]:
# rows where pickup is on 2025-11-18
df_nov18 = df[
    (df['tpep_pickup_datetime'] >= '2025-11-18') &
    (df['tpep_pickup_datetime'] <  '2025-11-19')
]
trips_per_zone = (
    df_nov18
    .groupby('PULocationID')
    .size()
    .reset_index(name='trip_count')
    .sort_values('trip_count', ascending=False)
)
trips_per_zone

In [ ]:
east_harlem_north_df = df[
    (df['PULocationID'] == 74)
]
east_harlem_north_df.sort_values('tip_amount')

In [ ]:
df[df['trip_distance'] <= 100].sort_values('trip_distance', ascending=False)

: